<h3><%= @picture.author %></h3>
<img src="<%= @picture.photo_url %>" alt="<%= @picture.author %>">
<p><%= @picture.date_taken %></p>
<a href="/pictures">All Pictures</a>
<a href="/pictures/<%= @picture.id %>/edit">Edit Picture</a>
<form method="post" action="/pictures/<%= @picture.id %>">
  <input name="_method" value="delete" type="hidden">
  <input type="submit" value="Delete Picture">
</form>
